
.carousel {
    background-image: url('../../assets/Blockc.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 35%;
    border-radius: 4px;
 
}
@font-face {
    font-family: Inter;
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
  }
  