
.carousel {
    background-image: url('../../../assets/carousel_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: Inter;
    src: url("@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');");
  }
  